.header {
  background-color: #eee;
  padding: var(--spacing-unit-4) var(--spacing-unit-8);
}

.main {
  padding: var(--spacing-unit-4) var(--spacing-unit-8);
}

li {
  margin-bottom: var(--spacing-unit-2);
}
