.heading {
  font-family: var(--font-stack-heading);
  font-size: var(--font-size-32);
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: var(--spacing-unit-4);
  margin-top: var(--spacing-unit-8);
}

.heading-3 {
  font-family: var(--font-stack-heading);
  font-size: var(--font-size-16);
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: var(--spacing-unit-4);
  margin-top: var(--spacing-unit-4);
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
