
.px {
  font-size: 16px;
}

.rem {
  font-size: 1rem;
}

.details {
  margin-top: 3rem;
  summary {
    cursor: pointer;
  }
  .details__content {
    margin-top: 1rem;
    background-color: #eee;
    padding: 2rem;
    margin-left: 2rem;
  }
}

.spaced-px {
  border: 1px solid blue;
  padding: 10px;
}

.spacing-rem {
  border: 1px solid red;
  padding: var(--spacing-unit-2);

}

.wrapper {
  display: flex;
  gap: 30px;
}

.fixed-height {
  border: 1px solid blue;
  padding: 10px;
  width: 300px;
  height: 250px;
}

.variable-height {
  border: 1px solid red;
  padding: 10px;
  width: 300px;
  min-height: 250px;
}
